/*start variables*/
:root {
  --main-background: #ecfdff;
  --main-btn-back: #ff3368;
  --main-tran: 0.5s;
  --black-color: black;
  --border-radius-value: 10px;
}
/*end variables*/
.login .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
@media (max-width: 992px) {
  .login .container {
    flex-direction: column;
  }
}
.login .container .left {
  width: 50%;
  background-image: -webkit-linear-gradient(
    16deg,
    #ff005a 0%,
    #ff5d2d 64%,
    #ffba00 100%
  );
  border-radius: var(--border-radius-value);
  padding: 5rem 3rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 992px) {
  .login .container .left {
    padding: 2rem;
  }
}
.login .container .left h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  .login .container .left h1 {
    font-size: 2rem;
  }
}
.login .container .left p {
  color: var(--black-color);
  font-size: 1.5rem;
}
.login .container .left a {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #ffc2d2;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.login .container .right {
  width: 50%;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 992px) {
  .login .container .left,
  .login .container .right {
    width: 100%;
  }
}
.login .container .right h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  .login .container .right h1 {
    font-size: 2rem;
  }
}
.login .container .right a {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #ffc2d2;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--main-btn-back);
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.login .container .right a:hover {
  background-color: var(--main-btn-back);
  color: white;
}
.login .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login .container form input {
  padding: 1rem;
  border-radius: var(--border-radius-value);
  border: none;
  outline: none;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}
.login .container form .rem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 1rem;
}
